<h3>Carrinho</h3>
<p><a routerLink="/shipping">Consultar Frete</a></p>
<div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price }}</span>
</div>
<form [formGroup]="carrinhoForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="nome">Nome</label>
        <input id="nome" type="text" formControlName="nome">
    </div>
    <div>
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" formControlName="endereco">
    </div>
    <button type="submit">Fechar Pedido</button>
</form>